*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
.main{
    width: 100%;
    height: 100vh;
    background-color: #ebe8e8;

}
.box{
    background-color: white;
    height: 70vh;
    width: 50%;
    margin: auto;
    transform: translateY(100px);
    border-radius: 20px;
    overflow: hidden;
}
head{
    position: relative;
}
.box1{
    transform: translateY(-65px);
    width: 40%;
    height: 100%;
    background-color: red;
}
img{
    transform: translateX(100px);
    width: 600px;
    height: 300px;
   
}
.box1 h2{
    transform: translateY(-100px);
    color: white;
    text-align: center;
}
.mm{
    transform: translateY(-100px);
    color: white;
    text-align: center;
}
.box1 h1{
    color: white;
    text-align: center;
}
.ss{
    color: white;
    text-align: center;
}
.box2 h1{
    margin-left: 400px;
    color: black;
}

.card{
    display: flex;
    width: 60%;
    margin-left: 40%;
    height: 400px;
    background-color: #f8f6f6;
    transition: 2s;
    color: black;

}
.smth{
    
    font-size: 10px;
    font-weight: 600;
}
.paragraph button{
    margin: 10px;
    border:none;
}
.pp{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 12px;
    font-weight: bold;
}
.box:hover .card{
    transform: translateY(-100%);
}
.paragraph{
    padding: 5px 15px;
}
.paragraph a{
    text-decoration: none;
}
.btn{
    margin: auto;
    width: 100px;
    height: 40px;
    border: none;
    background-color: blue;
    color: white;
    border-radius: 10px;
}
.btn1{
    background-color: gray;
    border-radius: 10px;
    width: 180px;
    height: 40px;
    color: white;
}
.qwerty{
    background-color: blue;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}
.qwerty1{
    background-color: red;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}
.qwerty2{
    background-color: yellow;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}
.qwerty3{
    background-color: black;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}
.smth1{
    
    margin-left: 45%;
}
.h2{
    margin-left: 45% ;
}
.box1 img{
    width: 220px;
    height: 150px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transform: translateX(-1px) translateY(150px);
}






























